.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.container img {
    width: 100%;
    height: auto;
    max-width: 50%;
}

.container video {
    width: 100%;
    height: auto;
    max-width: 50%;
    margin: 0 -5px;
}

@media only screen and (max-width: 1000px) {
    .container img {max-width: 80%;}
    .container video {max-width: 80%;}
}